# Temel String İşlemleri

## Oluşturma Biçimlendirme

In [132]:
isim = "mvk"

In [133]:
3 * isim

'mvkmvkmvk'

In [134]:
"mvk" + "ali"

'mvkali'

In [135]:
"K" + isim[1:]

'Kvk'

In [136]:
isimler =  ["ali","veli","ayse"]

In [137]:
for i in isimler:
    print("İsim:",i, sep = "")

İsim:ali
İsim:veli
İsim:ayse

In [138]:
for i in isimler:
    print("_", i[0:], sep = "")

_ali
_veli
_ayse

In [139]:
print(*enumerate(isimler))

(0, 'ali') (1, 'veli') (2, 'ayse')

In [140]:
for i in enumerate(isimler):
    print(i)

(0, 'ali')
(1, 'veli')
(2, 'ayse')

In [141]:
for i in enumerate("isimler"):
    print(i)

(0, 'i')
(1, 's')
(2, 'i')
(3, 'm')
(4, 'l')
(5, 'e')
(6, 'r')

In [142]:
for i in enumerate(isimler,4):
    print(i)

(4, 'ali')
(5, 'veli')
(6, 'ayse')

## Dizi İçi Tip Sorgulamaları

In [143]:
"mvk".isalpha()

True

In [144]:
"mvk30".isalpha()

False

In [145]:
"123".isnumeric()

True

In [146]:
"123".isdigit()

True

In [147]:
"mvk30".isalnum()

True

## Elemanlarına ve Eleman Indexlerine Erişmek

In [148]:
isim = "mustafavahitkeskin"

In [149]:
isim

'mustafavahitkeskin'

In [150]:
isim[0:2]

'mu'

In [151]:
isim.index("n")

17

In [152]:
isim.index("a")

4

In [153]:
isim.index("a",5)

6

## Başlangıç ve Bitiş Karakterlerini Sorgulamak: startswith() & endswith()

In [154]:
isim = "Mustafa Vahit Keskin"

In [155]:
isim.startswith("a")
isim.startswith("m")
isim.startswith("M")
isim.endswith("n")

True

In [156]:
#count

In [157]:
isim.count("a")

3

In [158]:
#sorted

In [159]:
sorted("defter")

['d', 'e', 'e', 'f', 'r', 't']

In [160]:
print(*sorted("defter"), sep = "")

deefrt

## Karakterleri Bölmek

In [161]:
isim = "Mustafa Vahit Keskin"

In [162]:
isim.split()

['Mustafa', 'Vahit', 'Keskin']

In [163]:
isim.split(",")

['Mustafa Vahit Keskin']

In [164]:
isim = "Mustafa_Vahit_Keskin"

In [165]:
isim.split("_")

['Mustafa', 'Vahit', 'Keskin']

## Büyük Küçük Harf İşlemleri

In [166]:
isim = "Mustafa Vahit Keskin"

In [167]:
isim.upper()

'MUSTAFA VAHIT KESKIN'

In [168]:
isim.lower()

'mustafa vahit keskin'

In [169]:
isim.upper().lower()

'mustafa vahit keskin'

In [170]:
isim_b = isim.upper()

In [171]:
isim_b.islower()

False

In [172]:
isim_b.isupper()

True

## capitalize() & title() & swapcase()

In [173]:
isim = "mustafa vahit keskin"

In [174]:
isim.capitalize()

'Mustafa vahit keskin'

In [175]:
isim.title()

'Mustafa Vahit Keskin'

In [176]:
isim.swapcase()

'MUSTAFA VAHIT KESKIN'

In [177]:
isim = "MUSTAFA vahit KESKIN"

In [178]:
isim.swapcase()

'mustafa VAHIT keskin'

## İstenmeyen Karakterleri Kırpmak: strip(), lstrip(), rsting()

In [179]:
isim = " hello "

In [180]:
isim.strip()

'hello'

In [181]:
isim = "*hello*"

In [182]:
isim.strip("*")

'hello'

In [183]:
isim = "lhellol"

In [184]:
isim.strip("l")

'hello'

In [185]:
isim = "*hello*"

In [186]:
isim.rstrip("*")

'*hello'

In [187]:
isim.lstrip("*")

'hello*'

## join: bölünmüş ya da zaten bölük olan ifadelerin birleştirilmesi

In [188]:
isim = "Mustafa Vahit Keskin"

In [189]:
ayrik = isim.split()

In [190]:
ayrik

['Mustafa', 'Vahit', 'Keskin']

In [191]:
joiner = " "

In [192]:
joiner.join(ayrik)

'Mustafa Vahit Keskin'

In [193]:
joiner = "*****"

In [194]:
joiner.join(ayrik)

'Mustafa*****Vahit*****Keskin'

## Eleman Değiştirme: replace(), str.maketrans(), translate()

In [195]:
isim

'Mustafa Vahit Keskin'

In [196]:
isim.replace("V","c")

'Mustafa cahit Keskin'

In [197]:
isim.replace("ca","Va")

'Mustafa Vahit Keskin'

In [198]:
ifade = "Bu ifade İçerisinde bağzı TÜrkçe karakterler vardır"

In [199]:
duzeltilecek_harfler = "çÇğĞıİöÖşŞüÜ"
duzeltilmis_harfler = "cCgGiIoOsSuU"

In [200]:
alfabe_duzeltme = str.maketrans(duzeltilecek_harfler, duzeltilmis_harfler)

In [201]:
ifade.translate(alfabe_duzeltme)

'Bu ifade Icerisinde bagzi TUrkce karakterler vardir'

## contains

In [202]:
import pandas as pd
isimler = ["ayse","Ayşe","ali","aali","Ali","veli","mehmet","berkcan"]
v = pd.Series(isimler)

In [203]:
v

0       ayse
1       Ayşe
2        ali
3       aali
4        Ali
5       veli
6     mehmet
7    berkcan
dtype: object

In [204]:
v.str.contains("al")

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [205]:
v[v.str.contains("al")]

2     ali
3    aali
dtype: object

In [206]:
v.str.contains("al").sum()

2

In [207]:
v.str.contains("[aA]li").sum()

3

# Metin Madenciliği ve Doğal Dil İşleme Giriş

## Metin Ön İşleme

In [208]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

### string'i df/array/seriye çevirmek

In [209]:
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [210]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [211]:
v_metin = metin.split("\n")

In [212]:
v = pd.Series(v_metin)

In [213]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [214]:
metin_vektoru = v[1:len(v)]

In [215]:
metin_vektoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [216]:
mdf = pd.DataFrame(metin_vektoru, columns = ["hikayeler"])

In [217]:
mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Büyük-Küçük harf

In [218]:
d_mdf = mdf.copy()                # sürekli copy alki patlarsan geri dön

In [219]:
d_mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [220]:
list1 = [1,2,3]

In [221]:
str1 = "".join(str(i) for i in list1)     # burada 123 diye joinliyor (" " böyle olsaydı 1 2 3 olacaktı bir stringe çeviriyor)

In [222]:
str1

'123'

In [223]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))  # burada bütün harfleri alıp küçültüyor.

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [224]:
d_mdf["hikayeler"].apply(lambda x: "".join(x.lower() for x in x.split()))

1                 ascandalinbohemia!01
2                thered-headedleague,2
3                   acase,ofidentity33
4            theboscombevalleymystery4
5                   thefiveorangepips1
6             themanwith?thetwistedlip
7       theadventureofthebluecarbuncle
8        theadventureofthespeckledband
9     theadventureoftheengineer'sthumb
10      theadventureofthenoblebachelor
11       theadventureoftheberylcoronet
12      theadventureofthecopperbeeches
Name: hikayeler, dtype: object

In [225]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower()))

1       a   s c a n d a l   i n   b o h e m i a !   0 1
2         t h e   r e d - h e a d e d   l e a g u e , 2
3           a   c a s e ,   o f   i d e n t i t y   3 3
4     t h e   b o s c o m b e   v a l l e y   m y s ...
5             t h e   f i v e   o r a n g e   p i p s 1
6     t h e   m a n   w i t h ?   t h e   t w i s t ...
7     t h e   a d v e n t u r e   o f   t h e   b l ...
8     t h e   a d v e n t u r e   o f   t h e   s p ...
9     t h e   a d v e n t u r e   o f   t h e   e n ...
10    t h e   a d v e n t u r e   o f   t h e   n o ...
11    t h e   a d v e n t u r e   o f   t h e   b e ...
12    t h e   a d v e n t u r e   o f   t h e   c o ...
Name: hikayeler, dtype: object

In [226]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [227]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

## Noktalama İşaretlerinin Silinmesi

In [228]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [229]:
type(d_mdf)            # df seriye dönüşüyormuş  işlemler yapılınca

pandas.core.series.Series

In [230]:
#d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [231]:
d_mdf = d_mdf.str.replace("[^\w\s]","")       #noktalama işareti silme

C:\Users\Monster\AppData\Local\Temp\ipykernel_11644\1241207291.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf = d_mdf.str.replace("[^\w\s]","")       #noktalama işareti silme

In [232]:
d_mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

## Sayıların Silinmesi

In [233]:
d_mdf = d_mdf.str.replace("\d","")

C:\Users\Monster\AppData\Local\Temp\ipykernel_11644\3496927671.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf = d_mdf.str.replace("\d","")

In [234]:
d_mdf

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

## Stopwords

In [235]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [236]:
!pip install nltk

Requirement already satisfied: nltk in d:\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in d:\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in d:\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in d:\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in d:\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in d:\anaconda3\lib\site-packages (from click->nltk) (0.4.5)

In [237]:
import nltk

In [238]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Monster\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [239]:
from nltk.corpus import stopwords

In [240]:
sw = stopwords.words("english")

In [241]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [242]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))  # burada kelime olarak ayırdığımızda 
#sw varsa onu joinlemiyoruz.

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

In [243]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [244]:
d_mdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

## Az Geçen Kelimelerin Silinmesi

In [245]:
type(d_mdf)

pandas.core.series.Series

In [246]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [247]:
pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()         # tiplerden kaynaklı sorun oluştu

adventure    6
scandal      1
bohemia      1
copper       1
coronet      1
beryl        1
bachelor     1
noble        1
thumb        1
engineers    1
band         1
speckled     1
carbuncle    1
blue         1
lip          1
twisted      1
man          1
pips         1
orange       1
five         1
mystery      1
valley       1
boscombe     1
identity     1
case         1
league       1
redheaded    1
beeches      1
dtype: int64

In [248]:
sil = pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()[-3:]  # örnek olması amacıyla sondan 3 deger silindi

In [249]:
sil

league       1
redheaded    1
beeches      1
dtype: int64

In [250]:
d_mdf["hikayeler"].apply(lambda x: " ".join(i for i in x.split() if i not in sil))  # sw deki mantıkla

1               scandal bohemia
2
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12             adventure copper
Name: hikayeler, dtype: object

## Tokenization

In [251]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Monster\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [252]:
!pip install textblob

Requirement already satisfied: textblob in d:\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in d:\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: joblib in d:\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in d:\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.7.9)
Requirement already satisfied: tqdm in d:\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: click in d:\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: colorama in d:\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.5)

In [253]:
import textblob

In [254]:
from textblob import TextBlob

In [255]:
TextBlob(d_mdf["hikayeler"][1]).words  # kelimeleri liste olarak alıyor

WordList(['scandal', 'bohemia'])

In [256]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).words)

1                [scandal, bohemia]
2               [redheaded, league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: hikayeler, dtype: object

## Stemming

In [257]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [258]:
d_mdf["hikayeler"].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: hikayeler, dtype: object

## Lemmatization

In [259]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Monster\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [260]:
#d_mdf["hikayeler"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [261]:
#mdf["hikayeler"][0:5]

In [262]:
#d_mdf["hikayeler"][0:5]

# NLP Uygulamaları

## N-Gram

In [263]:
a = """Bu örneği anlaşılabilmesi için daha uzun bir metin üzerinden göstereceğim.
N-gram'lar birlikte kullanılan kelimelerin kombinasyolarını gösterir"""

In [264]:
TextBlob(a).ngrams(3)  # bir bir kaydırma CNN deki strides = (2,2)  gibi

[WordList(['Bu', 'örneği', 'anlaşılabilmesi']),
 WordList(['örneği', 'anlaşılabilmesi', 'için']),
 WordList(['anlaşılabilmesi', 'için', 'daha']),
 WordList(['için', 'daha', 'uzun']),
 WordList(['daha', 'uzun', 'bir']),
 WordList(['uzun', 'bir', 'metin']),
 WordList(['bir', 'metin', 'üzerinden']),
 WordList(['metin', 'üzerinden', 'göstereceğim']),
 WordList(['üzerinden', 'göstereceğim', "N-gram'lar"]),
 WordList(['göstereceğim', "N-gram'lar", 'birlikte']),
 WordList(["N-gram'lar", 'birlikte', 'kullanılan']),
 WordList(['birlikte', 'kullanılan', 'kelimelerin']),
 WordList(['kullanılan', 'kelimelerin', 'kombinasyolarını']),
 WordList(['kelimelerin', 'kombinasyolarını', 'gösterir'])]

In [265]:
TextBlob(a).ngrams(5)

[WordList(['Bu', 'örneği', 'anlaşılabilmesi', 'için', 'daha']),
 WordList(['örneği', 'anlaşılabilmesi', 'için', 'daha', 'uzun']),
 WordList(['anlaşılabilmesi', 'için', 'daha', 'uzun', 'bir']),
 WordList(['için', 'daha', 'uzun', 'bir', 'metin']),
 WordList(['daha', 'uzun', 'bir', 'metin', 'üzerinden']),
 WordList(['uzun', 'bir', 'metin', 'üzerinden', 'göstereceğim']),
 WordList(['bir', 'metin', 'üzerinden', 'göstereceğim', "N-gram'lar"]),
 WordList(['metin', 'üzerinden', 'göstereceğim', "N-gram'lar", 'birlikte']),
 WordList(['üzerinden', 'göstereceğim', "N-gram'lar", 'birlikte', 'kullanılan']),
 WordList(['göstereceğim', "N-gram'lar", 'birlikte', 'kullanılan', 'kelimelerin']),
 WordList(["N-gram'lar", 'birlikte', 'kullanılan', 'kelimelerin', 'kombinasyolarını']),
 WordList(['birlikte', 'kullanılan', 'kelimelerin', 'kombinasyolarını', 'gösterir'])]

## Part of speech tagging (POS)

In [266]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Monster\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [267]:
TextBlob(d_mdf["hikayeler"][2]).tags          #cümlenin zamir sıfat olarak tagliyor

[('redheaded', 'VBN'), ('league', 'NN')]

In [268]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: hikayeler, dtype: object

## Chunking (shallow parsing)

In [269]:
pos = d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

In [270]:
pos

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: hikayeler, dtype: object

In [271]:
cumle = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"

In [272]:
pos = TextBlob(cumle).tags

In [273]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [274]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)      # burada görselleştirmeye yarıyor tagleri . REGEX yapıyoruz

In [275]:
sonuclar = rp.parse(pos)

In [276]:
sonuclar

ModuleNotFoundError: No module named 'svgling'

Tree('S', [('R', 'NNP'), ('and', 'CC'), ('Python', 'NNP'), ('are', 'VBP'), ('useful', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), ('tools', 'NNS'), ('for', 'IN'), ('the', 'DT'), ('new', 'JJ'), ('or', 'CC'), ('old', 'JJ'), ('data', 'NNS'), ('scientists', 'NNS'), ('who', 'WP'), ('eager', 'VBP'), ('to', 'TO'), ('do', 'VB'), ('efficent', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), Tree('NP', [('task', 'NN')])])

In [277]:
print(sonuclar)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [278]:
sonuclar.draw()   #draw ettirerek ekrana basıyoruz

## Named Entity Recognition

In [279]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\Monster\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Monster\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

### Burada sıfatları fln bulduk ama bu bir şirket ismi mi fln diye bakıyoruz

In [280]:
cumle = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(cumle))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

# Matematiksel İşlemler ve Basit Özellik Çıkarımı

## Harf/Karakter Sayısı

In [ ]:
o_df = d_mdf.copy()

In [ ]:
o_df["hikayeler"]

In [283]:
o_df["hikayeler"].str.len()

1     15
2     16
3     13
4     23
5     16
6     15
7     24
8     23
9     25
10    24
11    23
12    24
Name: hikayeler, dtype: int64

In [284]:
o_df["harf_sayisi"] = o_df["hikayeler"].str.len()

In [285]:
o_df

                    hikayeler  harf_sayisi
1             scandal bohemia           15
2            redheaded league           16
3               case identity           13
4     boscombe valley mystery           23
5            five orange pips           16
6             man twisted lip           15
7    adventure blue carbuncle           24
8     adventure speckled band           23
9   adventure engineers thumb           25
10   adventure noble bachelor           24
11    adventure beryl coronet           23
12   adventure copper beeches           24

## Kelime Sayısı

In [286]:
a = "scandal in a bohemia"

In [287]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [288]:
len(a.split())

4

In [289]:
o_df.iloc[0:1,0:1]

         hikayeler
1  scandal bohemia

In [290]:
o_df["kelime_sayisi"] = o_df["hikayeler"].apply(lambda x:len(str(x).split(" ")))

In [291]:
o_df

                    hikayeler  harf_sayisi  kelime_sayisi
1             scandal bohemia           15              2
2            redheaded league           16              2
3               case identity           13              2
4     boscombe valley mystery           23              3
5            five orange pips           16              3
6             man twisted lip           15              3
7    adventure blue carbuncle           24              3
8     adventure speckled band           23              3
9   adventure engineers thumb           25              3
10   adventure noble bachelor           24              3
11    adventure beryl coronet           23              3
12   adventure copper beeches           24              3

## Özel Karakterleri Yakalamak & Saydırmak

In [292]:
o_df["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("adventure")]))

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: hikayeler, dtype: int64

In [293]:
o_df["ozel_karakter_sayisi"] = o_df["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("adventure")]))

In [294]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,ozel_karakter_sayisi
1,scandal bohemia,15,2,0
2,redheaded league,16,2,0
3,case identity,13,2,0
4,boscombe valley mystery,23,3,0
5,five orange pips,16,3,0
6,man twisted lip,15,3,0
7,adventure blue carbuncle,24,3,1
8,adventure speckled band,23,3,1
9,adventure engineers thumb,25,3,1
10,adventure noble bachelor,24,3,1
11,adventure beryl coronet,23,3,1
12,adventure copper beeches,24,3,1

## Sayıları Yakalamak & Saydırmak

In [295]:
mdf["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.isdigit()]))

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: hikayeler, dtype: int64

In [296]:
o_df["sayi_sayisi"] = mdf["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.isdigit()]))

In [297]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,ozel_karakter_sayisi,sayi_sayisi
1,scandal bohemia,15,2,0,1
2,redheaded league,16,2,0,0
3,case identity,13,2,0,1
4,boscombe valley mystery,23,3,0,0
5,five orange pips,16,3,0,0
6,man twisted lip,15,3,0,0
7,adventure blue carbuncle,24,3,1,0
8,adventure speckled band,23,3,1,0
9,adventure engineers thumb,25,3,1,0
10,adventure noble bachelor,24,3,1,0
11,adventure beryl coronet,23,3,1,0
12,adventure copper beeches,24,3,1,0

# Metin Görselleştirme

In [299]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [300]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [301]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [302]:
#buyuk-kucuk donusumu
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [303]:
#noktalama işaretleri
data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')

C:\Users\Monster\AppData\Local\Temp\ipykernel_11644\2929998608.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')

In [304]:
#sayılar
data['Phrase'] = data['Phrase'].str.replace('\d','')

C:\Users\Monster\AppData\Local\Temp\ipykernel_11644\455987866.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Phrase'] = data['Phrase'].str.replace('\d','')

In [305]:
#stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Monster\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [306]:
#seyreklerin silinmesi
sil = pd.Series(' '.join(data['Phrase']).split()).value_counts()[-1000:]
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))

In [307]:
#lemmi
from textblob import Word
#nltk.download('wordnet')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

**********************************************************************
  Resource omw-1.4 not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('omw-1.4')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/omw-1.4

  Searched in:
    - 'C:\\Users\\Monster/nltk_data'
    - 'D:\\Anaconda3\\nltk_data'
    - 'D:\\Anaconda3\\share\\nltk_data'
    - 'D:\\Anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\Monster\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

MissingCorpusError:
Looks like you are missing some required data for this feature.

To download the necessary data, simply run

    python -m textblob.download_corpora

or use the NLTK downloader to download the missing data: http://nltk.org/data.html
If this doesn't fix the problem, file an issue at https://github.com/sloria/TextBlob/issues.

In [ ]:
data['Phrase'].head(10)

## Terim Frekansı

In [ ]:
tf1 = (data["Phrase"]).apply(lambda x: 
                             pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()

In [ ]:
tf1.columns = ["words","tf"]

In [ ]:
tf1.head()

In [ ]:
tf1.info()

In [ ]:
tf1.nunique()

## barplot

In [ ]:
a = tf1[tf1["tf"] > 1000]

In [ ]:
a.plot.bar(x = "words", y = "tf");

## Wordcloud

In [ ]:
!pip install wordcloud

In [ ]:
import numpy as np
import pandas as pd
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import matplotlib.pyplot as plt

In [ ]:
text = data["Phrase"][0]

In [ ]:
wordcloud = WordCloud().generate(text)

In [ ]:
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
wordcloud = WordCloud(max_font_size = 50,
                     max_words = 100, 
                     background_color = "white").generate(text)
plt.figure()
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
wordcloud.to_file("kelime_bulutu.png");

In [ ]:
#tum metin

In [ ]:
text = " ".join(i for i in data.Phrase)

In [ ]:
text

In [ ]:
wordcloud = WordCloud(max_font_size = 50, 
                     background_color = "white").generate(text)
plt.figure(figsize = [10,10])
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
?wordcloud

## Şablonlara Göre Word Cloud

In [ ]:
vbo_mask = np.array(Image.open("tr.png"))

In [ ]:
vbo_mask

In [ ]:
wc = WordCloud(background_color = "white",
                     max_words = 1000, 
                     mask = vbo_mask, 
                     contour_width = 3,
                     contour_color = "firebrick")

wc.generate(text)

wc.to_file("vbo.png")

plt.figure(figsize = [10,10])
plt.imshow(wc, interpolation = "bilinear")
plt.axis("off")
plt.show()

# Sentiment Analizi ve Sınıflandırma Modelleri

In [ ]:
from textblob import TextBlob
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

import pandas, xgboost, numpy, textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers


from warnings import filterwarnings
filterwarnings('ignore')

In [ ]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [ ]:
data.head()

In [ ]:
data["Sentiment"].replace(0, value = "negatif", inplace = True)
data["Sentiment"].replace(1, value = "negatif", inplace = True)

In [ ]:
data["Sentiment"].replace(3, value = "pozitif", inplace = True)
data["Sentiment"].replace(4, value = "pozitif", inplace = True)

In [ ]:
data.head()

In [ ]:
data = data[(data.Sentiment == "negatif") | (data.Sentiment == "pozitif")]

In [ ]:
data.head()

In [ ]:
data.groupby("Sentiment").count()

In [ ]:
df = pd.DataFrame()
df["text"] = data["Phrase"]
df["label"] = data["Sentiment"]

In [ ]:
df.head()

## Metin Ön İşleme

In [ ]:
#buyuk-kucuk donusumu
df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#noktalama işaretleri
df['text'] = df['text'].str.replace('[^\w\s]','')
#sayılar
df['text'] = df['text'].str.replace('\d','')
#stopwords
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
#seyreklerin silinmesi
sil = pd.Series(' '.join(df['text']).split()).value_counts()[-1000:]
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))
#lemmi
from textblob import Word
#nltk.download('wordnet')
df['text'] = df['text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

## Değişken Mühendisliği

* Count Vectors
* TF-IDF Vectors (words, characters, n-grams)
* Word Embeddings

TF(t) = (Bir t teriminin bir dökümanda gözlenme frekansı) / (dökümandaki toplam terim sayısı) 

IDF(t) = log_e(Toplam döküman sayısı / içinde t terimi olan belge sayısı)

In [ ]:
df.head()

In [ ]:
df.iloc[0]

## Test-Train

In [ ]:
train_x, test_x, train_y, test_y = model_selection.train_test_split(df["text"],
                                                                   df["label"], 
                                                                    random_state = 1)

In [ ]:
train_y[0:5]

In [ ]:
encoder = preprocessing.LabelEncoder()

In [ ]:
train_y = encoder.fit_transform(train_y)
test_y = encoder.fit_transform(test_y)

In [ ]:
train_y[0:5]

In [ ]:
test_y[0:5]

### Count Vectors

In [ ]:
vectorizer = CountVectorizer()
vectorizer.fit(train_x)

In [ ]:
x_train_count = vectorizer.transform(train_x)
x_test_count = vectorizer.transform(test_x)

In [ ]:
x_train_count.head()

In [ ]:
vectorizer.get_feature_names()[0:5]

In [ ]:
x_train_count.toarray()

### TF-IDF

In [ ]:
#wordlevel

In [ ]:
tf_idf_word_vectorizer = TfidfVectorizer()
tf_idf_word_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_word = tf_idf_word_vectorizer.transform(train_x)
x_test_tf_idf_word = tf_idf_word_vectorizer.transform(test_x)

In [ ]:
tf_idf_word_vectorizer.get_feature_names()[0:5]

In [ ]:
x_train_tf_idf_word.toarray()

In [ ]:
# ngram level tf-idf

In [ ]:
tf_idf_ngram_vectorizer = TfidfVectorizer(ngram_range = (2,3))
tf_idf_ngram_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(train_x)
x_test_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(test_x)

In [ ]:
# characters level tf-idf

In [ ]:
tf_idf_chars_vectorizer = TfidfVectorizer(analyzer = "char", ngram_range = (2,3))
tf_idf_chars_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_chars = tf_idf_chars_vectorizer.transform(train_x)
x_test_tf_idf_chars = tf_idf_chars_vectorizer.transform(test_x)

# Makine Öğrenmesi ile Sentiment Sınıflandırması

## Lojistik Regresyon

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_count, train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## Naive Bayes

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## Random Forests

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## XGBoost

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

In [ ]:
loj_model

In [ ]:
loj_model.predict("yes i like this film")

In [ ]:
yeni_yorum = pd.Series("this film is very nice and good i like it")

yeni_yorum = pd.Series("no not good look at that shit very bad")

In [ ]:
v = CountVectorizer()
v.fit(train_x)
yeni_yorum = v.transform(yeni_yorum)

In [ ]:
loj_model.predict(yeni_yorum)